html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

@keyframes mars {
    0%   {top: 0px;}
    50%  {top: -50px;}
    100% {top: 0px;}
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 75px;
}

.nav-links {
    text-decoration: none;
    color: #cc0000;
    font-weight: 700;
}

.nav-title {
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-size: 24pt;
}

.home-link {
    color: black;
    text-decoration: none;
}

.active-link {
    text-decoration: underline;
    color: #490000;
}

.splash-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(./images/earth-from-space.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-input {
    margin: 20px 0;
    width: 40%;
    height: 40px;
    text-align: center;
    border: 1px solid #212121;
    background-color: #fff;
    color: #212121;
    font-size: 14pt;
}

.main-input:focus {
    outline: none;
    border: 1px solid #cc0000;
    box-shadow: 0px 10px 24px rgba(59, 18, 7, 0.3);
}

.submit-entry {
    background-color: #212121;
    color: #fff;
    width: 100px;
    height: 40px;
    border: 3px solid #fff;
    box-shadow: 0px 10px 24px rgba(27, 10, 54, 0.3);
}

.submit-entry:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #cc0000b4;
    transition: 500ms linear;
}

.main-title {
    text-align: center;
    color: #fff;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-size: 60pt;
    margin-bottom: 15px;
    text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.541);
}

.main-subtitle {
    color: #fff;
    font-size: 24pt;
    text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.637);
    text-align: center;
}

.destination1 {
    display: flex;
    padding: 50px;
}

.destinations img {
    max-width: 40%;
    max-height: 600px;
    align-self: center;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212121;
    width: 100%;
    height: 75px;
    color: #fff;
    margin-top: 50px;
}

.main-footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.nav-title {
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-size: 24pt;
}

/*
.destinations img:hover {
    position: relative;
    animation: mars 3s ease-in-out none infinite;
    -webkit-filter: drop-shadow(0px 15px 30px rgba(34, 34, 34, 0.274));
    filter: drop-shadow(0px 15px 30px rgba(34, 34, 34, 0.315));
}
*/

.destination-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    padding: 0 5%;
}

.destination-text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    padding: 0 5%;
}

.destination-title {
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-size: 30pt;
    margin-bottom: 15px;
}

.destination-info {
    vertical-align: top;
    margin-bottom: 25px;
}

.bold-span {
    font-weight: 700;
}

.destination-button {
    background-color: #212121;
    color: #fff;
    width: 300px;
    height: 50px;
    border: 3px solid #fff;
    box-shadow: 0px 10px 24px rgba(27, 10, 54, 0.3);
}

.destination-button:hover {
    background-color: #cc0000;
    border-radius: 16px;
    box-shadow: 0px 6px 18px #cc000044;
    transition: 200ms linear;
    cursor: pointer;
}

.destination2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px;
}

/* MARS PAGE STUFF GOES HERE */

.mars-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(./images/mars-horizon.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.planet-banner {
    padding: 10vh;
    text-align: center;
    color: #fff;
    background-color: #212121;
}

.planet-page-title {
    font-size: 36pt;
    margin-bottom: 15px;
}

.mars-image {
    max-width: 40%;
    max-height: 600px;
    align-self: center;
}

.mars-image:hover {
    position: relative;
    animation: mars 3s ease-in-out none infinite;
}

.planet-mars {
    display: flex;
    padding: 50px;
}

.seating {
    height: 50vh;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 100px;
    overflow: hidden;
}

.seating-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36pt;
}

.rocket-ship {
    width: 80%;
    height: 80%;
    padding: 50px;
    padding-right: 30%;
    background-color: #212121;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    align-content: center;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.seat {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.seat:hover {
    cursor: pointer;
    background-color: #cc0000;
    color: #fff;
}

/* JUPITER STUFF GOES HERE */
.jupiter-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(./images/jupiter-bottom.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}




/************ MEDIA QUERIES ***************/

@media screen and (max-width: 860px) {
    .destination1 {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    .destination-text {
        margin-left: 0;
        margin-top: 40px;
        align-items: center;
        text-align: center;
        line-height: 28px;
    }
    .destination2 {
        display: flex;
        flex-direction: column;
        
    }
    .destination-title {
        margin-bottom: 25px;
    }
    .main-title {
        font-size: 10vw;
    }
    .main-subtitle {
        font-size: 5vw;
    }
    .main-input {
        width: 60%;
        font-size: 12pt;
    }
    .nav-title {
        font-size: 4vw;
    }
    .nav-links {
        font-size: 12pt;
    }
    .destinations img {
        max-width: 100vw;
        width: 80vw;
        height: auto;
        max-height: 800px;
        align-self: center;
    }
    .destination-text-left {
        text-align: center;
        margin-right: 0;
        margin-top: 40px;
        line-height: 28px;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
    }
    
}
